.container{
    display: flex;
    justify-content: space-between;
    width: 1216px;
    margin: 72px auto;
    align-items: top;
} 

.container h1 {
    color: #6420CD;
    font-size: 42px;
}
.row1{
    width: 50%;
}
.row2{
    width: 50%;
}

.row2 img{
    width: 100%;
}

.container h2 {
    margin-top: 48px;
    margin-right: 24px;
    font-size: 28px;
    color: #525252;
    font-weight: 500;
    line-height: 32px;
}

.container p{
    margin-top: 16px;
    margin-right: 24px;
    font-size: 24px;
    color: #525252;
    font-weight: 500;
    line-height: 32px;
}
.btn{
    margin-top: 48px;
    background-color: #440099;
    color: #fff;
    font-size: 18px;
    padding: 12px 24px;
    border: 1px solid #440099;
    border-radius: 4px;
    animation:animation linear 0.8s infinite;
    cursor: pointer;
}
@keyframes animation {
 0%{
    transform: scale(1);
 }
 50%{
    transform: scale(1.1);
 }
 100%{
    transform: scale(1);
 }
}